<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LOGGED IN</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/styles/account-main.css">
    </head>



    <body>
        <div class="container">
            <div class="row justify-content-start">
                <h4><a id="home-link" href="/">HVSSR</a></h4>
            </div>



            <div class="row justify-content-center">
                <div class="col-auto">
                    <h4>Welcome</h4>
                    <hr>
                </div>
            </div>

            <div class=" row justify-content-center menu" style="height: 100%">
                <div class="col-auto">
                    <nav>
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item custom-link load-home" style="margin-right:20px;">
                            <a id="home-button" onclick="toggleDiv('home')" class="nav-link" href="#">User Home</a>
                        </li>

                        <li class="nav-item custom-link load-mixes">
                            <a id="mixes-button" onclick="toggleDiv('mixes')" class="nav-link" href="#">Free Mixes</a>
                        </li>

                        <li class="nav-item custom-link load-pref">
                            <a class="nav-link" href="#">Preferences</a>
                        </li>
                    </ul>
                    </nav>
                </div>


            </div>


            <div class="row justify-content-center lower-element">
                <div class="col-auto">
                    <div style="display: none;" id="home">
                    <p>Download the latest Off The Top Mixes</p>
                    <p>Send me an <a href="/message-dj">inquiry</a> directly</p>
                    <p>Thank you for your support!!</p>

                    </div>

                    <div style="display: none;" id="mixes">

                        <table>
                            <th:block th:each="mix : ${mixes}">
                                <tr>
                                    <td th:text="${mix.mixName}"></td>
                                    <td>
                                        <a th:href="@{/download-mix/{mixId}(mixId=${mix.id})}">Download</a>
                                    </td>
                                </tr>
                            </th:block>
                        </table>


                    </div>


                </div>
            </div>


            <div class="row justify-content-center lower-element">
                <div class="col-auto">
                    <div sec:authorize="isAuthenticated()">
<!--                        <p>Logout</p>-->

                        <form action="#" th:action="@{/logout}" method="post">
                            <input id="submitButton" type="submit" value="Logout"/>
                        </form>
                    </div>
                </div>

            </div>



        </div>

        <script>


            var selectedDiv = document.getElementById('home');
            selectedDiv.style.display = 'block';

            var selectedDivButton = document.getElementById('home-button');
            selectedDivButton.classList.add('active');

            function toggleDiv(divId) {
            var div = document.getElementById(divId);

            if (selectedDiv !== null) {
        // Hide the previously selected div
                selectedDiv.style.display = "none";

                selectedDivButton.classList.remove('active');
            }

            if (div !== selectedDiv) {
        // Show the newly selected div
                div.style.display = "block";
                selectedDiv = div;
            }

            if (div == selectedDiv) {
                div.style.display = "block";
                selectedDiv = div;

                            var buttonId = divId + '-button';
            var newSelectedDivButton = document.getElementById(buttonId);
            newSelectedDivButton.classList.add('active');
            selectedDivButton = newSelectedDivButton;
            }
        }

        </script>

    </body>


</html>