<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDIT-MESSAGES</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles/edit-users.css">

</head>

<body>
    <div class="container">

        <div class="row justify-content-start">
            <h4><a id="home-link" href="/">HVSSR</a></h4>
        </div>

        <div class="row justify-content-start lower-element">
            <div class="col-auto">
                <h1>Messages</h1>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Subject</th>
                            <th>Title</th>
                            <th>Body</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pst : ${post}">
                            <td th:text="${pst.dateTime}"></td>
                            <td th:text="${pst.subject}"></td>
                            <td th:text="${pst.title}"></td>
                            <td th:text="${pst.body}"></td>
                            <td>
                                <form method="post" th:action="@{/posts-delete}">
                                    <input type="hidden" name="postId" th:value="${pst.id}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row justify-content-center lower-element">
            <div class="col-auto">
                <form th:action="@{/send-posts}" th:object="${posts}" method="post">
                    <label for="title">Title:
                        <input id="title" type="text" th:field="*{title}"></label>
                    <label for="body">Body:
                        <textarea th:field="*{body}"></textarea></label>
                    <input type="submit" value="Send Post">
                </form>

            </div>
        </div>

        <div class="row justify-content-center lower-element">
            <div class="col-auto">
                <h4></h4>
            </div>
        </div>

        <div class="row justify-content-start lower-element">
            <div class="col-auto">
                <form>
                    <input type="button" value="back" onclick="history.back()">
                </form>
            </div>
        </div>

    </div>
</body>

</html>