body{

    font-family: 'Orbitron', sans-serif; 
    color: whitesmoke;
    background-color: black;

}

#home-link {

    text-decoration: none; 
    color: whitesmoke; 
}

.lower-element {

    margin-top: 200px;

}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.custom-link {

    margin-right:20px; border-radius: 50px;

}

.custom-link:hover {
    opacity: 0.7;
}


.current {
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;
    background-color: grey;

    transition: .25s;


}

h3 {
color: white;
margin: auto;

}

hr {
    border-width: 4px;
     width: 100%;
}






/* new page */



.imgMain {

    width: 200px;
    height: 200px;
    opacity: 0.5;
    border: 1px solid white;

}

#img1, #img2, #img3, #img4 {

    margin-top: 10px;
}

#visuals {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
  }

.overlay {

    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(231, 137, 137); */
    background: #414042;
    mix-blend-mode: overlay;
    z-index: -2000;

}

body {

    font-family: 'Orbitron', sans-serif; color: whitesmoke;
  }

.showcase {

    position: absolute;
    min-height: 100vh;
    display: flex;
    padding: 100px;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
    transition: 0.5s;

  }

.showcase.active {

    right: 300px;

}

.showcase-two {
    margin: 0 auto;
}

.showcase-two.active {
    right: 300px;
}

.showcase header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {

    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-position: center;

  }

.logo {

    cursor: pointer;

    }

.toggle.active {

    background-position: center;

}




.social {

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;



}

.social li {

    list-style: none;
    margin-right: 20px;
    transition: 0.5s;
}

.social li:hover {

   transform: translateY(-15px)

}

.menu {

    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -2; */

}

.menu ul {

    position: relative;
    list-style: none;
}

.menu ul li a {

    text-decoration: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.673);

}

.menu ul li a:hover {

    color: rgb(232, 121, 3);

}

@media (max-width: 991px) {

    .showcase,
    .showcase header {

        padding: 40px;

    }

}

@media (max-width: 600px) {

    .showcase.active {

        right: 150px;
    }

    .showcase-two.active {
        right: 150px;
    }

    .menu {

        position: absolute;
        top: 0;
        right: 0;
        /* left: 0; */
        width: 300px;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content:right;
        /* z-index: -2; */

    }

    .menu ul li a {

        text-decoration: none;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.673);

    }
}

