body {

    background: black;
    font-family: 'Orbitron', sans-serif; 
    color: whitesmoke;

}

#home-link {

    text-decoration: none; 
    color: whitesmoke; 
}

.lower-element {

    margin-top: 200px;

}

.error-message {
        background-color: black;
        color: #f60000;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
}