body{

    font-family: 'Orbitron', sans-serif; 
    color: whitesmoke;
    
}

#home-link {

    text-decoration: none; 
    color: whitesmoke; 
}




.lower-element {

    margin-top: 200px;

}

.lowest-element {

    padding-top: 20px;

}

.mobile-image {


    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
    border: 4px solid white;
    opacity: 1.0;


}

.mobile-page {
    display: none;
}



#lower-during-desktop {
    margin-top: 100px;
}

@media (max-width: 600px) {


    .mobile-image {
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }

    .mobile-page {
        display: block;
    }

    #lower-during-desktop {
        margin-top: 0px;
    }

    .heading {
        font-size: 90%;
    }

    html, body {
        overflow-x: hidden;
    }

    .custom-iframe {
        width: 100%;
        height: 200;
    }
}






.imgMain {

    width: 200px;
    height: 200px;
    opacity: 0.5;
    border: 1px solid white;

}

#img1, #img2, #img3, #img4 {

    margin-top: 10px;
}

#side_nav {
    background: white;
    min-width: 100px;
    min-height:250px;
}

.nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}


.nav li {

    font-family: 'Orbitron', sans-serif; color: whitesmoke;
    float: left;
    border-right: 1px solid #bbb;
    flex: 1;
    text-align: center;

}

.nav li:last-child {

    border-right: none;

}

.nav li a {

    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 2s;

}

.nav li a:hover:not(.active) {

    background-color: grey;

}


#visuals {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
  }

.overlay {

    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    mix-blend-mode: overlay;
    z-index: -2000;
    background-image: url("/images/OFTBG.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    opacity: 0.1;


}

.overlay-two {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: black;
    mix-blend-mode: overlay;
    z-index: -1000;

}

body {

    font-family: 'Orbitron', sans-serif; color: whitesmoke;
  }

.showcase {

    position: absolute;
    min-height: 100vh;
    display: flex;
    padding: 100px;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    color: white;
    z-index: 2;
    transition: 0.5s;


  }

.showcase.active {

    right: 300px;

}

.showcase-two {
    margin: 0 auto;
}

.showcase-two.active {
    right: 300px;
}

.showcase header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {

    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-position: center;

  }

.logo {

    cursor: pointer;

    }

.toggle.active {

    background-position: center;

}




.social {

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;



}

.social li {

    list-style: none;
    margin-right: 20px;
    transition: 0.5s;
}

.social li:hover {

   transform: translateY(-15px)

}

.menu {

    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.menu ul {

    position: relative;
    list-style: none;
}

.menu ul li a {

    text-decoration: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.673);

}

.menu ul li a:hover {

    color: rgb(232, 121, 3);

}

@media (max-width: 991px) {

    .showcase,
    .showcase header {

        padding: 40px;

    }

}

@media (max-width: 600px) {

    .showcase.active {

        right: 150px;
    }

    .showcase-two.active {
        right: 150px;
    }

    .menu {

        position: absolute;
        top: 0;
        right: 0;
      
        width: 300px;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content:right;
       
        

    }

    .menu ul li a {

        text-decoration: none;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.673);

    }
    
}

.scroll-box {
    max-height: 500px;
    overflow-y: auto;
}

